/*>>>>>>>> Fonts <<<<<<<<<*/

/*>>>>>>>> Display Red Hat <<<<<<<<<*/

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");


@font-face {
    font-family: 'Red Hat Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Red Hat Text Regular'), url('../fonts/red-hat-display/RedHatText-Regular.woff') format('woff');
}

/*>>>>>>>> Common <<<<<<<<<*/

body {
	height: 100%;
	padding: 0;
	margin: 0;
}
::-webkit-scrollbar {
	display: none;
}
::selection {
	background: rgb(247, 211, 157);
}

/*>>>>>>>> Navbar <<<<<<<<<*/

.container {
	width: 1120px;
	padding: 0;
}
.navbar {
	position: fixed;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	background: #412d2d;
	z-index: 9;
}
.logo, .nav {
	display: inline-block;
	margin: 0;
}
.nav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav li {
	display: inline-block;
	margin-left: 40px;
}
.navbar li a {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.36px;
	color: #faf2e0;
	text-decoration: none;
	
}
.navbar li a:hover {
	color: #5D7A47;
	
}
.navbar li a.request--access {
	font-size: 13px;
	line-height: 40px;
	color: #412d2d;
	width: 188px;
	padding: 12px 29px;
	background: #faf2e0;
	border-radius: 25px;
	letter-spacing: 1.3px;
	text-transform: uppercase;

}
.navbar li a.request--access:hover {
	color: #faf2e0;
	background: #5D7A47;

}
@media screen and (max-width: 500px) {
	.navbar li a.phone--number {
		display: none;
	}
}

/* >>>>>>> HERO BANNER <<<<<<<<*/

.hero--banner {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.hero--banner .--background-- {
	width: 100%;
	height: 720px;
	background: url("../images/hero-banner/banner-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.hero--banner .banner--content {
	margin: 0;
	padding: 0;
	padding-top: 175px;
}
.hero--banner .banner--content img {
	margin: 0;
	padding: 0;
	margin-bottom: 59px;
}
.hero--banner .banner--content h1 {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 68px;
	line-height: 90px;
	color: #fefefe;
	margin: 0;
	padding: 0;
}
.hero--banner .banner--content p {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	color: #fefefe;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}
.hero--banner .banner--content a {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: unset;
	text-align: center;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	color: #412d2d;
	width: 197px;
	margin: 0;
	padding: 0;
	padding: 13px 33px;
	width: 197px;
	height: 43px;
	line-height: 43px;
	background: #FEFEFE;
	border-radius: 25px;
	text-decoration: none;
}

/* >>>>>>>>>> HOW IT WORKS <<<<<<<<<<< */

.how-it-works {
	margin: 0;
	padding: 0;
}
.how-it-works .vector-background {
	width: 100%;
	height: 780px;
	background: url("../images/how-it-works/background.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.how-it-works .row {
	padding-top: 68px;
}
.how-it-works .--heading-- {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1.08px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
}
.how-it-works h1 {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	color: #412d2d;
	margin-bottom: 20px;
}
.how-it-works p {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.36px;
	color: #412d2d;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}
.how-it-works .--boxes-- {
	display: flex;
	margin-bottom: 15px;
}
.how-it-works .--boxes-- .--box-- {
	width: 130px;
	height: 130px;
	border: 1px solid rgba(65, 45, 45, 0.2);
	box-sizing: border-box;
	border-radius: 20px;
	text-align: center;
	padding-top: 24px;
	cursor: pointer;
	margin-right: 15px;
}
.how-it-works .--boxes-- .--box--:hover {
	background: #412d2d;
	
}
.how-it-works .--boxes-- .--box--.--on-- {
	background: #412d2d;
}
.how-it-works .--boxes-- .--box-- svg {
	margin-bottom: 15px;
}
.how-it-works .--boxes-- .--box--:hover svg path{
	fill: #faf2e0;
	
} 
.how-it-works .--boxes-- .--box--.--on-- svg path{
	fill: #faf2e0;
} 

/* Communicate with love ones */
.how-it-works .--boxes-- .--box--:hover svg path.half--circle,
.how-it-works .--boxes-- .--box--.--on-- svg path.half--circle{
	fill: #5D7A47;
	opacity: 1;
} 
.how-it-works .--boxes-- .--box--:hover svg path.half--circle--left,
.how-it-works .--boxes-- .--box--.--on-- svg path.half--circle--left{
	fill: #5D7A47;
} 

/* Track daily responsibilities */
.how-it-works .--boxes-- .--box--:hover svg path.make-it-green,
.how-it-works .--boxes-- .--box--.--on-- svg path.make-it-green{
	fill: #5D7A47;
	opacity: 1;
} 


/* Manage your family accounts */
.how-it-works .--boxes-- .--box--:hover svg ellipse.--right--bottom--,
.how-it-works .--boxes-- .--box--.--on-- svg ellipse.--right--bottom--{
	fill: #FAF2E0;
	opacity: 1;
}
.how-it-works .--boxes-- .--box--:hover svg ellipse.--theleft--circle--,
.how-it-works .--boxes-- .--box--.--on-- svg ellipse.--theleft--circle--{
	opacity: 1;
}

/* Get a card for your kids */
.how-it-works .--boxes-- .--box--:hover svg path.inner-path,
.how-it-works .--boxes-- .--box--.--on-- svg path.inner-path{
	fill: #5D7A47;
	opacity: 1;
}

/* Keep your family safe */
.how-it-works .--boxes-- .--box--:hover svg path.--thelleftSide--,
.how-it-works .--boxes-- .--box--.--on-- svg path.--thelleftSide--{
	fill: #5D7A47;
	opacity: 1;
}

/* Take care of your health */
.how-it-works .--boxes-- .--box--:hover svg path.--circle--,
.how-it-works .--boxes-- .--box--:hover svg path.--circle--{
	fill: #5D7A47;
}

/* Enjoy our family services */
.how-it-works .--boxes-- .--box--:hover svg path.ring--borders,
.how-it-works .--boxes-- .--box--.--on-- svg path.ring--borders{
	fill: #5D7A47;
}
.how-it-works .--boxes-- .--box-- p {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.28px;
	color: #412d2d;
	
}
.how-it-works .--boxes-- .--box--:hover p {
	color: #faf2e0;
}
.how-it-works .--boxes-- .--box--.--on-- p {
	color: #faf2e0;
}
.how-it-works .col-lg-4 {
	width: 100%;
	padding: 0;
}
.how-it-works .col-lg-4 img {
	height: 644px;
	float: right;
}

/* >>>>>>>>>> Coming Together <<<<<<<<<<*/

.coming--together {
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 70px;
}
.coming--together p {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 1.08px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.coming--together h1 {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	text-align: center;
	color: #412d2d;
	margin-bottom: 70px;
}
.coming--together .row {
	padding: 0;
}
.coming--together .col-lg-6 {
	padding: 0;
}
.coming--together .col-lg-6 .the-box {
	width: 541px;
	height: 538px;
	background: #fefefe;
	border: 1px solid #eeeaf2;
	box-sizing: border-box;
	border-radius: 60px;
}
.coming--together .col-lg-6 .family-and-friends {
	float: right;
	margin-right: 19px;
}
.coming--together .col-lg-6 .service-providers {
	margin-left: 19px;
}
.coming--together .col-lg-6 .the-box img {
	margin-top: 50px;
	margin-bottom: 30px;
}
.coming--together .col-lg-6 .the-box .--heading-p-- {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	color: #412d2d;
	text-transform: capitalize;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	letter-spacing: unset;
}
.coming--together .col-lg-6 .the-box .--para-p-- {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.36px;
	color: #412d2d;
	text-transform: initial;
	letter-spacing: unset;
}

/*>>>>>>>> Our Mission <<<<<<<<<*/

.our--mission {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 280px;
	background: #412d2d;
	position: relative;
}
.our--mission .heading--area {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.our--mission .heading--area h1 {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	color: #faf2e0;
}
.our--mission .heading--area p {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	text-align: center;
	color: #faf2e0;
}
.mission--background {
	width: 100%;
	height: 700px;
	background: url("../images/our-mission/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
}
.mission--background .our--mission--content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.mission--background .our--mission--content h1 {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	color: #fefefe;
	margin: 0;
	margin-bottom: 20px;
}
.mission--background .our--mission--content p {
	font-family: "Red Hat Display", sans-serif;
	font-family: Red Hat Display;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 37px;
	color: #fefefe;
	margin: 0;
	margin-bottom: 40px;
}
.mission--background .our--mission--content a {
	font-family: "Red Hat Display", sans-serif;
	font-size: 13px;
	line-height: 47px;
	color: #412d2d;
	width: 184px;
	padding: 15px 33px;
	background: #faf2e0;
	border-radius: 25px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	text-decoration: none;
}
.join--us {
	margin: 0;
	padding: 90px 0px;
	text-align: center;
}
.join--us h1 {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	text-align: center;
	color: #412d2d;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}
.join--us p {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.36px;
	color: #412d2d;
	margin: 0;
	margin-bottom: 66px;
}
input[type="email"] {
	margin: 0;
	padding: 0;
	width: 370px;
	border: none;
	outline: none;
	border-bottom: 1px solid #412d2d;
	font-family: "Red Hat Display", sans-serif;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #412d2d;
	margin-bottom: 40px;
}
input[type="email"]::placeholder {
	color: #412d2d;
}
input[type="submit"] {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: #412d2d;
	border-radius: 25px;
	padding: 15px 33px;
	width: 122px;
	height: 43px;
	color: white;
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	cursor: pointer;
}
.join--us input[type="submit"]:hover{
	background: #5D7A47;
}

/*>>>>>>>> Footer <<<<<<<<<*/

footer {
	margin: 0;
	padding: 0;
	padding-top: 40px;
	padding-bottom: 100px;
}
footer .--left-- {
	display: inline;
	float: left;
}
footer .--right-- {
	display: inline;
	float: right;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer ul li {
	font-family: "Red Hat Display", sans-serif;
	display: inline;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	color: #412d2d;
}
footer ul li a {
	color: #412d2d;
	
}
footer ul li a:hover {
	color: #412d2d;
}
footer .--right-- ul li a {
	padding-left: 30px;
	text-decoration: none;
	
}
footer .--right-- ul li a:hover {
	color: #5D7A47;
	
}
footer .--left-- ul li a {
	text-decoration: underline;
	
}
footer .--left-- ul li a:hover {
	color: #5D7A47;
	
}
footer .--right-- ul li a.social-icon {
	padding-left: 12px;
	font-size: 21px;
}
footer .--right-- ul li a.social-icons {
	padding-left: 30px;
}
footer .--right-- ul li a .fab{
	font-size: 22px;
}
footer .--right-- ul li a .fab.fa-instagram{
	font-size: 23px;
}
footer .--right-- ul li a .fab.fa-linkedin{
	font-size: 23px;
}
footer .--right-- ul li a .fab.fa-pinterest{
	font-size: 22px;
}

/*>>>>>>>> Request Access [ POP UP ] <<<<<<<<<*/

.request--access--pop--up {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	z-index: 99;
	display: none;
}
.request--access--pop--up.active {
	display: block;
}
.--pop--up-- .pop--up--message {
	text-align: center;
	width: 896px;
	height: fit-content;
	height: 505px;
	background: #fefefe;
	border-radius: 40px;
	padding-top: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.--pop--up-- .pop--up--message h1 {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 53px;
	text-align: center;
	color: #412d2d;
	margin: 0;
	margin-bottom: 20px;
}
.--pop--up-- .pop--up--message .--the--message-- {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	color: #412D2D;
	margin: 0;
	margin-bottom: 66px;
}
.--pop--up-- .pop--up--message a {
	font-family: "Red Hat Display", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	color: #412d2d;
	text-decoration: none;
}
.--pop--up-- .pop--up--message input[type="email"] {
	margin-bottom: 30px;
}
.--pop--up-- .pop--up--message input[type="submit"] {
	margin-bottom: 77px;
	
}
.--pop--up-- .pop--up--message input[type="submit"]:hover {
	background: #5D7A47;
	
}
